<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating"> Nueva Tarea </ion-label>
    <ion-input [(ngModel)]="nuevaTarea"> </ion-input>
  </ion-item>
  <ion-button expand="full" (click)="agregarTarea()"> Agregar Tarea</ion-button>
  <ion-list>
    <ion-item *ngFor="let tarea of listaTareas">
      {{tarea}}
    </ion-item>
  </ion-list>

</ion-content>
